<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    @import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

    @import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

    body {
        font-size: 16px;
        background: #f9f9f9;
        font-family: 'Montserrat', sans-serif;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
            url('/images/iStock-1213615970.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        position: relative;
    }


    h2 {
        text-align: center;
        text-decoration: underline dotted blanchedalmond;
    }

    .signupcontainer {
        padding-top: 140px;

    }

    .navbar-custom {
        background-color: black;
        height: 8rem;
        width: 100%;
        font-family: 'Russo One', sans-serif;
    }

    #mobileNav {
        width: 100%;
    }

    form {
        width: 480px;
        background: #fff;
        padding: 15px 40px 40px;
        border: 1px solid #ccc;
        margin: 5px auto 0;
        border-radius: 5px;
    }

    label {
        display: block;
        margin-bottom: 5px
    }

    label i {
        color: #999;
        font-size: 80%;
    }

    input,
    select {
        border: 1px solid #ccc;
        padding: 10px;
        display: block;
        width: 100%;
        box-sizing: border-box;
        border-radius: 2px;
    }

    .row {
        padding-bottom: 10px;
    }

    .form-inline {
        border: 1px solid #ccc;
        padding: 8px 10px 4px;
        border-radius: 2px;
    }

    .form-inline label,
    .form-inline input {
        display: inline-block;
        width: auto;
        padding-right: 15px;
    }

    .errorText {
        color: red;
        font-size: 90%;
    }

    input[type="submit"] {
        font-size: 110%;
        font-weight: 100;
        background: #006dcc;
        border-color: #016BC1;
        box-shadow: 0 3px 0 #0165b6;
        color: #fff;
        margin-top: 10px;
        cursor: pointer;
    }

    .login {
        width: 100px;
    }

    input[type="submit"]:hover {
        background: #0165b6;
    }

    @media only screen and (max-width: 768px) {
        form {
            width: 90%;

        }
    }
</style>

<body>
    <!-- header -->
    <header id="header">
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileNav"
                    aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon burger-custom"><img src="/images/burger2.png" alt=""
                            style="height: 100%; width: 100%; object-fit: contain;"></span>
                </button>


                <div class="navbar-collapse collapse" style="background-color: black;" id="mobileNav">
                    <ul class="navbar-nav ml-2 mt-2">
                        <li class="nav-item mr-2">
                            <img src="/images/main-logo.jpg" alt="" width="50px">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/aboutus">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/trainers">Trainers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/memberships">Memberships</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#contact">Contact</a>
                        </li>
                        <% if(req.session.user) { %>
                            <li class="nav-item d-lg-none">
                                <a href="/detailsuser" class="nav-link text-white account">
                                    <%=req.session.user.fname%>
                                </a>
                            </li>
                            <% } else { %>
                                <li class="nav-item d-lg-none">
                                    <a href="/login" class="nav-link text-white">Sign in</a>
                                </li>

                                <% } %>
                    </ul>
                </div>
                <% if(req.session.user) { %>
                    <div class="m-3 text-right d-none d-lg-block"><a class="account" href="/detailsuser">
                            <%=req.session.user.fname%><img src="/images/user.png" alt="user" width="30rem">
                        </a></div>
                    <% } else { %>
                        <div class="m-3 text-right text-white login d-none d-lg-block">
                            <a href="/login" class="nav-link text-white">Sign in</a>
                        </div>

                        <% } %>
            </div>
        </nav>

    </header>
    <!-- end of header -->


    <div class="signupcontainer">
        <form name="signUpForm" action="" method="POST">
            <h2>Personal Information</h2>
            <section class="row">
                <label>First Name</label>
                <input type="text" name="fname">
                <!-- returning default errors inside div.  -->
                <div class="errorText" id="fnameError">
                    <%=errorList.fnameError%>
                </div>
            </section>
            <section class="row">
                <label>Last Name</label>
                <input type="text" name="lname">
                <div class="errorText" id="lnameError">
                    <%=errorList.lnameError%>
                </div>
            </section>

            <section class="row">
                <label>Email Address</label>
                <input type="text" name="email">
                <div class="errorText" id="emailError">
                    <%=errorList.emailError%>
                </div>
            </section>

            <section class="row">
                <label>Address</label>
                <input type="text" name="address">
                <div class="errorText" id="addressError">
                    <%=errorList.addressError%>
                </div>
            </section>


            <section class="row">
                <label>Password</label>
                <input type="password" name="password">
                <div class="errorText" id="passwordError">
                    <%=errorList.passwordError%>
                </div>
            </section>

            <section class="row">
                <label>Confirm Password</label>
                <input type="password" name="confirmPass">
                <div class="errorText" id="confirmPassError">
                    <%=errorList.confirmPassError%>
                </div>
            </section>


            <section class="row">
                <input type="submit" value="Register">
            </section>

        </form>
    </div>
    </div>
    <div>
        <!-- Sample general error. Handle accordingly -->
        <%=errorList.generalError%></br>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>