<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
<!-- membership section -->
<style>
    /*pricing-cards*/
    .navbar-custom {
        background-color: black;
        height: 8rem;
        font-family: 'Russo One', sans-serif;
    }

    .title-underline {
        width: 100px;
        border: 2px solid #d9d8e4;
        margin: 0 auto;
    }

    #pricing-cards {
        background: #d9d8e4;
    }

    #pricing-cards .dollar-sign {
        font-size: 2.5em;
    }

    .single-item:hover {
        box-shadow: 0 10px 15px rgba(0, 0, 0);
    }
</style>
<!-- menu bar -->
<header id="header">
    <nav class="navbar navbar-expand-lg navbar-custom ">
        <div class="container-fluid">

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-3">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/trainers">Trainers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/memberships">Memberships</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <% if(req.session.user) { %>
                <div class="m-3 text-right myacc">
                    <a class="account" href="/detailsuser">
                        <%=req.session.user.fname%><img src="/images/user.png" alt="user" width="30rem">
                    </a>
                </div>
                <% } else { %>
                    <div class="m-3 text-right text-white">
                        <a href="/login" class="nav-link text-white">Log in</a>
                    </div>
                    <div class="m-3 text-right text-white">
                        <a href="/signup" class="nav-link text-white"> Sign up</a>
                    </div>
                    <% } %>
        </div>
    </nav>

    <div class="container-fluid max-height"></div>
</header>

<!-- end of menu bar -->
<div class="row">
    <div class="col title text-center py-5">
        <h1 class="text-uppercase display-3"><%=title%></h1>
        <div class="title-underline"></div>
    </div>
</div>
<div></div>
<section id="pricing-cards" class="py-1">
    <div class="container">

        <div class="row">
            <% data.forEach(elem=> { %>

                <div class="col-lg-4 col-md-6 my-5">
                    <form method="post">
                        <div>
                            <input type="hidden" name="id" value="<%= elem.id %>" />
                        </div>
                        <div class="card card-body text-center single-item">
                            <div class="card-title">
                                <h3 class="text-muted">
                                    <%= elem.name %>
                                </h3>
                            </div>
                            <input type="hidden" name="name" value="<%= elem.name %>" />
                            <div class="card-text d-flex justify-content-center">
                                <span class="dollar-sign align-self-start">$/</span>
                                <span>
                                    <p class="display-1 mb-0">
                                        <%= elem.price %>
                                    </p>
                                </span>
                            </div>
                            <input type="hidden" name="price" value="<%= elem.price %>" />
                            <div class="card-text">
                                <h4>per year</h4>
                            </div>

                            <ul class="list-group list-group-flush my-5">
                                <a href="#" class="list-group-item first list-group-item-action text-uppercase"><i
                                        class="fa fa-star-o text-warning float-left "></i><strong>
                                        <%= elem.typecount %>
                                    </strong>sessions / month
                                </a>
                                <input type="hidden" name="typecount" value="<%= elem.typecount %>" />
                                <a href="#" class="list-group-item list-group-item-action"><i
                                        class="fa fa-star-o text-warning float-left"></i>
                                    <%= elem.description %>
                                </a>
                                <input type="hidden" name="description" value="<%= elem.description %>" />

                            </ul>
                            <input type="hidden" name="startDate" id="StartDate"
                                value="<%= new Date().toLocaleString() %>">
                            <input type="hidden" name="isCancelled" id="isCancelled" value="false">
                            <button type="submit" class="btn btn-lg btn-dark text-uppercase">
                                Select
                            </button>
                        </div>
                    </form>
                </div>

                <% }) %>
        </div>

    </div>
</section>


<!-- end of membership section -->