<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="homecss.css">
<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">


<style>
    @import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

    body {
        z-index: 0;
        position: relative;
    }

    /* chat */
    .chat-icon {
        height: 100vh;
        z-index: 2;
        position: fixed;
        right: 10%;
        top: 88%;
    }

    .circle {
        position: relative;
        background-color: #77b2d5;
        border-radius: 50%;
        animation: pulse-red 2s infinite;
        z-index: 3;
        height: 60px;
        width: 60px;
    }

    /* navbar */
    .image {
        z-index: 5;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 58px;
    }

    .navbar-custom {
        background-color: black;
        height: 8rem;
        font-family: 'Russo One', sans-serif;
    }

    #mobileNav {
        z-index: 3;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .account {
        text-decoration: none;
        margin-top: 20px;
        color: white;
    }

    div ul li a {
        font-size: 1.2rem;
    }

    /* main picture */
    .max-height {
        min-height: calc(100vh - 128px);
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
            url(/images/newhome.jpg)center/cover no-repeat fixed;
        background-position: top;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .wrapper {
        z-index: 0;
    }

    .custom-text {
        width: 40%;
        margin-top: -15%;
        margin-left: 2%;
        color: honeydew;
        text-align: center;
        font-size: 36px;
        font-family: 'Permanent Marker', cursive;
    }

    /* about section */
    .custom-h5 {
        font-size: 0.2rem;
        font-family: 'Roboto', sans-serif;
        text-align: justify;
        line-height: 50px;

    }

    .title-underline {
        width: 100px;
        border: 2px solid #7160F8;
        margin: 0 auto;
        background-color: #7160F8;
    }

    .custom-h1 {
        font-family: 'Permanent Marker', cursive;
    }

    .about-picture {
        background:
            url(/images/iStock-1223133311.jpg)center/cover no-repeat;
        min-height: 60vh;
    }

    .aboutus {
        background-color: black;
    }

    .custom-about {
        background-color: black;
        margin: 5% 10%;
        display: flex;
        flex-direction: column;
    }

    /* trainings */

    .custom-button {
        width: 200px;
    }

    .training-picture {
        background: url(/images/iStock-1223133121.jpg)center/cover no-repeat;
        height: 60vh;
    }

    .custom-title {
        font-family: 'Permanent Marker', cursive;
    }

    .img-tr {
        border-radius: 5%;
    }

    .link {
        color: white;
    }

    /* banner */

    .container-promo {
        background-image: url(/images/promo-pic.jpg);
        background-size: cover;
        background-position: top;

        display: flex;
        justify-content: flex-start;
        width: 60%;
        height: 100%;
        margin: 0 auto;
    }

    .text-promo {
        font-size: 24px;
        color: white;
        text-align: center;
        margin: 50px 80px;
        z-index: 1;
        padding-bottom: 70px;
    }

    @media (max-width: 800px) {

        .container-promo {
            width: 100%;
            background-size: left;
        }

        .text-promo {
            font-size: 24px;
            color: white;
            text-align: center;
            margin: 70px 40px;
            z-index: 1;
        }
    }

    .title-promo {
        font-family: 'Russo One', sans-serif;
        font-size: 80px;
        color: rgb(241, 229, 112);
    }

    .text-2 {
        color: white;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .btn-get-it {
        vertical-align: middle;
        display: inline-block;
        border-radius: 4px;
        background-color: transparent;
        border: solid 1px white;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 15px;
        width: 200px;
        transition: all 0.2s;
        cursor: pointer;
        margin: 5px;
        font-family: 'Russo One', sans-serif;
    }

    .btn-get-it:hover {
        border-color: #fbfafc;
        color: white;
        box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
        transform: translateY(-0.25em);
        cursor: pointer;
        background-color: #7160F8;
    }

    /* footer */

    .h2title {
        font-family: 'Russo One', sans-serif;
    }

    .custom-contact {
        font-family: 'Permanent Marker', cursive;
    }

    #contact {
        background-color: black;
    }

    /* buttons */
    .btnseemore {
        background-color: #fff;
        color: rgba(166, 155, 251, 1);
        font-size: 24px;
        padding: 5px 20px;
        border-radius: 12px;
        border: 1.5px solid rgba(166, 155, 251, 1);
        transition: 0.3s ease-in-out;
    }

    .btnseemore:hover {
        color: white;
        background-color: rgba(166, 155, 251, 1);

    }

    .btnseemore:active {
        border: none;
    }

    .btn-see {
        text-decoration: none;
        border: 1px solid #7160F8;
        position: relative;
        background-color: #000;
        overflow: hidden;
        font-size: 1.1rem;
        padding: 0.6rem 2rem;
        color: #fff;
        text-transform: uppercase;
        border-radius: 10px;
        font-family: 'Russo One', sans-serif;
        letter-spacing: 0.15rem;
    }

    .btn-see:hover {
        box-shadow: 1px 1px 10px 3px #7160F8;
    }

    .btn-see:before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(120deg,
                transparent,
                /* rgb(103, 77, 197), */
                silver,
                transparent);
        transition: all 650ms;
    }

    .btn-see:hover:before {
        left: 100%;
    }

    .btn-see:active {
        border: none;
    }

    @keyframes pulse-red {
        0% {
            transform: scale(0.9);
            box-shadow: 0 0 0 0 rgba(166, 155, 251, 1);
        }

        70% {
            transform: scale(1);
            box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
        }

        100% {
            transform: scale(0.9);
            box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
        }
    }
    .content-divider {
            height: 0.5rem;
            background: linear-gradient(to left,
                    #7160F8,
                    rgb(230, 234, 247),
                    #7160F8);
    }
</style>

<body>
    <!-- header -->
    <header id="header">
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileNav"
                    aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon burger-custom"><img src="/images/burger2.png" alt=""
                            style="height: 100%; width: 100%; object-fit: contain;"></span>
                </button>


                <div class="navbar-collapse collapse" style="background-color: black;" id="mobileNav">
                    <ul class="navbar-nav ml-2 mt-2">
                        <li class="nav-item mr-2">
                            <img src="/images/main-logo.jpg" alt="" width="50px">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/aboutus">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/trainers">Trainers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/memberships">Memberships</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#contact">Contact</a>
                        </li>
                        <% if(req.session.user && req.session.user.isAdmin==true) { %>
                            <li class="nav-item d-lg-none">
                                <a href="/users/list" class="nav-link text-white account">
                                    <%=req.session.user.fname%>
                                </a>
                            </li>
                            <% } else if (req.session.user) {%>
                                <li class="nav-item d-lg-none">
                                    <a href="/detailsuser" class="nav-link text-white account">
                                        <%=req.session.user.fname%>
                                    </a>
                                </li>
                                <% } else { %>
                                    <li class="nav-item d-lg-none">
                                        <a href="/login" class="nav-link text-white">Sign in</a>
                                    </li>
                                    <li class="nav-item d-lg-none">
                                        <a href="/signup" class="nav-link text-white">Sign up</a>
                                    </li>
                                    <% } %>
                    </ul>
                </div>
                <% if(req.session.user && req.session.user.isAdmin==true) { %>
                    <div class="m-3 text-right d-none d-lg-block"><a class="account" href="/users/list">
                            <%=req.session.user.fname%><img src="/images/user.png" alt="user" width="30rem">
                        </a></div>
                    <% } else if (req.session.user) {%>
                        <div class="m-3 text-right d-none d-lg-block"><a class="account" href="/detailsuser">
                                <%=req.session.user.fname%><img src="/images/user.png" alt="user" width="30rem">
                            </a></div>

                        <% } else { %>
                            <div class="m-3 text-right text-white d-none d-lg-block">
                                <a href="/login" class="nav-link text-white">Sign in</a>
                            </div>
                            <div class="m-3 text-right text-white d-none d-lg-block">
                                <a href="/signup" class="nav-link text-white">Sign up</a>
                            </div>
                            <% } %>
            </div>
        </nav>

    </header>
    <div class="container-fluid max-height wrapper">
        <div class="custom-text">The clock is ticking. Are you becoming the person you want to be?</div>
    </div>
    <!--end of header  -->
<div class="content-divider"></div>
    <!-- about section -->
    <section id="about">
        <div class="container-fluid">
            <div class="row aboutus">
                <div class="col-lg-6 col-sm-12 col-md-12 about-picture">
                </div>

                <div class="lg-6 col md-12 text-capitalize text-center custom-about">

                    <h1 class="display-5 text-uppercase text-light custom-h1 aboutcontainer pb-3">about
                        us</h1>
                    <div class="title-underline"></div>
                    <div class="custom-h5 mt-5">
                        <h5 class="text-justify text-light text-height-2">We believe the quality of our health
                            determines the quality of our lives and nothing is more important than that. We believe
                            fitness is about strengthening and conditioning your body and mind so you can get out there,
                            explore the world, seek new adventures and be the person you were meant to be.</h5>
                    </div>

                </div>
            </div>
        </div>
        <section>
            <!-- end of about section -->

            <!-- trainings section -->
            <section id="trainings">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-md-12">
                            <h1 class="text-capitalize text-center pt-3
                             pb-3 custom-title">our workouts</h1>
                            <div class="title-underline"></div>
                            <ul class="list-group list-group-flush pt-5 pb-3 text-center">
                                <li class="list-group-item">
                                    <div class="mb-2"><img src="/images/fitness.png" alt="fitness" width="30rem"></div>
                                    Achieving milestones with your body.
                                </li>
                                <li class="list-group-item">
                                    <div class="mb-2"><img src="/images/intensive.png" alt="intensive" width="30rem">
                                    </div> Build strength and confidence.
                                </li>
                                <li class="list-group-item">
                                    <div class="mb-2"><img src="/images/pilates.png" alt="pilates" width="30rem"></div>
                                    Take your whole life to the next level.
                                </li>
                                <li class="list-group-item pt-4"><a class="link" href="/categories"><button
                                            class="btn-see">See more</button></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-md-12 training-picture">

                        </div>
                    </div>
                </div>
            </section>
            <!-- end of trainings section -->

<div class="content-divider"></div>
            <!-- trainer section -->
            <section id="team" class="py-5">
                <div class="container">

                    <!--title row-->
                    <div class="row">
                        <div class="col d-flex title justify-content-center">

                            <div class="title-text">

                                <h1 class="text-uppercase custom-title text-center"><i class="fa fa-users mr-3"></i>Meet
                                    our team</h1>
                                <h4 class="text-capitalized text-muted">Trusted advisors with a culture of excellence.
                                </h4>
                            </div>
                        </div>
                    </div>
                    <!-- end of title row-->
                    <div class="row">
                        <% for(let trainer in trainerData) { %>
                            <div class="col-lg-3 col-sm-6 my-5">
                                <div class="text-center">

                                    <img src="<%= trainerData[trainer].image %>" width="150" alt=""
                                        class="img-fluid img-tr">
                                    <div class="card-body">
                                        <h2>
                                            <%= trainerData[trainer].fName %>
                                        </h2>
                                        <h6>
                                            <%= trainerData[trainer].lName %>
                                        </h6>
                                        <hr>
                                        <p class="text-muted">
                                            <%= trainerData[trainer].bio %>
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <% } %>

                                <!--	end of team col -->
                    </div>
                    <div class=" d-flex justify-content-center">
                        <div class="text-center">
                            <a href="/trainers"><button type="button" class="btn-see">See
                                    More</button></a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end of trainer section -->

            <% if (req.session.user && req.session.user.eligibleForOffer) { %>

                <section class="mb-5">
                    <div class="container-promo">
                        <div class="text-promo">
                            <h1 class="title-promo">Special offer</h1>
                            <h4 class="text-2">Upgrade to Silver and get up to:</h4>
                            <span class="title-promo">20%</span>
                            <h4 class="text-2">Discount + free trainings!</h4>
                            <a href="memberships/special/<%=req.session.user.hash%>"><button
                                    class="btn-get-it"><span>Get it now</span></button></a>
                        </div>
                    </div>
                </section>
                <!-- end of special offer banner -->
                <% } %>

                    <!-- footer -->
                    <section class="pb-1" id="contact">
                        <div class="container">

                            <div class="row">

                                <div class="col-md-4 px-3 text-center my-5 pt-3">
                                    <img src="/images/main-logo.jpg" class="img-fluid mb-3" alt="company image"
                                        width="150px" />

                                    <div class="col text-center">
                                        <h2 class="display-5 text-uppercase text-white my-4 h2title">
                                            <strong>follow us on</strong>
                                        </h2>
                                        <div class="row">
                                            <div class="col text-center">
                                                <a href="https://www.facebook.com/" class="btn">
                                                    <img src="/images/facebook.png" alt="" width="30rem">
                                                </a>
                                                <a href="https://www.instagram.com/" class="btn">
                                                    <img src="/images/instagram.png" alt="" width="30rem">
                                                </a>
                                                <a href="https://twitter.com/" class="btn">
                                                    <img src="/images/twitter.png" alt="" width="30rem">
                                                </a>
                                                <a href="https://www.youtube.com/" class="btn">
                                                    <img src="/images/youtube.png" alt="" width="30rem">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="title-underline mt-4 bg-secondary"></div>

                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-6 col-xl-5 mx-auto px-3 text-center my-5">
                                    <!-- section title -->
                                    <div class="row">
                                        <div class="col text-center mb-1">
                                            <h1 class="text-uppercase text-white custom-contact">contact us</h1>
                                            <div class="title-underline my-3 bg-secondary">
                                                <div class="title-underline__center"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end of section title -->

                                    <div class="single-contact px-5 my-3 d-flex justify-content-between">
                                        <span class="mr-3"> <i class=" text-white fas fa-map"></i> </span>
                                        <p class="text-white text-capitalize">
                                            123 main street Athens, ATT 90020
                                        </p>
                                    </div>


                                    <div class="single-contact px-5 my-3 d-flex justify-content-between">
                                        <span class=" mr-3"> <i class=" text-white fas fa-phone"></i> </span>
                                        <p class="text-white text-capitalize">
                                            + 123 456 789
                                        </p>
                                    </div>

                                    <div class="single-contact px-5 my-3 d-flex justify-content-between">
                                        <span class="mr-3"> <i class=" text-white fas fa-envelope"></i> </span>
                                        <p class="text-white text-capitalize">
                                            email@email.com
                                        </p>
                                    </div>

                                    <div class="single-contact px-5 my-3 d-flex justify-content-between">
                                        <span class="mr-3"> <i class="text-white fas fa-clock"></i> </span>
                                        <p class="text-white text-capitalize">
                                            mon - sat 8:00 AM - 7:00 PM
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <p class="mt-2 text-capitalize text-muted text-center">Copyright 2021@ Quarantgym is registered
                            trademark of
                            Quarantgym
                            International Ltd. All rights reserved.</p>
                    </section>
                    <!-- end of footer -->
                    <!-- chat -->
                    <div class="chat-icon">
                        <!-- chat circle -->
                        <a href="/chat">
                            <div class="circle">
                                <!-- end of chat circle -->
                                <img src="/images/chatIcon.png" alt="" class="image">
                            </div>
                        </a>
                    </div>
                    <!-- end of chat -->

                    <!-- Optional JavaScript -->
                    <script src="myscript.js"></script>
                    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                        crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                        crossorigin="anonymous"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                        crossorigin="anonymous"></script>
</body>

</html>

