<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

    <style>
        .wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80vh;
            width: 800px;
            height: 500px;
        }
     
    </style>
<div id="results" class="container">

    <h1>Sessions/Customers list</h1>
    <div class="table-responsive">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Customer ID</th>
                    <th scope="col">Customer Email</th>
                    <th scope="col">Total Sessions</th>
                    <th scope="col">From Date</th>
                    <th scope="col">To Date</th>
                </tr>
            </thead>
            <% var elements1=JSON.parse(data1) %>
                <% for(let i=0; i < elements1.rows.length; i++) { %>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <%= elements1.rows[i].customerId %>
                            </th>
                            <td>
                                <%= elements1.rows[i].email %>
                            </td>
                            <td>
                                <%= elements1.rows[i].total_sessions %>
                            </td>
                            <td>
                                <%= startDate %>
                            </td>
                            <td>
                                <%= endDate %>
                            </td>
                        </tr>
                    </tbody>
                    <% } %>
                        <tr>
                            <td>TOTAL</td>
                            <td></td>
                            <td>
                                <% var sum=0; %>
                                    <% for(let i=0; i < elements1.rows.length; i++) { %>
                                        <% sum +=elements1.rows[i].total_sessions %>
                                            <% } %>
                                                <%= sum %>
                            </td>
                            <td></td>
                          <td></td>
                        </tr>
        </table>
    </div>
    <a href="/users/list">
        <button class="btn btn-primary">Go Back</button></a>
</div>
<div class="wrapper container-fluid">
    <canvas id="myChart3" ></canvas>
    </div>

<script>
    // function sum(rows) {
    //     let total = 0;
    //     total += rows;
    //     return total; 
    // }

   
    let subName = <%- JSON.stringify(Object.keys(chart)) %>;
    let subCount = <%- JSON.stringify(Object.values(chart)) %>;
    var ctx = document.getElementById('myChart3').getContext('2d');
    
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: subName,
            datasets: [{
        label: 'LineChart',
        data: subCount,
        fill: true,
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1,
    
  }]
        },
        options: {
            responsive: true,
            legend: {
                display: true
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]

            }

        }
    });
    
</script>